<h1>Добавить книгу</h1>
<div class="profile-edit">
    <div class="profile-edit__inner">
        <form [formGroup]="this.addForm" class="form" (submit)="onSubmit()">
            <div class="row">
                <div class="column-12">
                    <div class="form__group">
                        <input type="text" class="form__input" id="article" formControlName="article">
                        <label for="article">Артикул</label>
                        <div class="invalid-control" *ngIf="submitted && myForm.article.errors?.required">
                            Введите артикул
                        </div>
                    </div>
                </div>
                <div class="column-12">
                    <div class="form__group">
                        <input type="text" class="form__input" id="title" formControlName="title">
                        <label for="title">Название</label>
                        <div class="invalid-control" *ngIf="submitted && myForm.title.errors?.required">
                            Введите название
                        </div>
                    </div>
                </div>
                <div class="column-12">
                    <div class="form__group">
                        <input type="text" class="form__input" id="description" formControlName="description">
                        <label for="description">Описание</label>
                        <div class="invalid-control" *ngIf="submitted && myForm.description.errors?.required">
                            Введите описание
                        </div>
                    </div>
                </div>
                <div class="column-12">
                    <div class="form__group">
                        <input type="text" class="form__input" id="category" formControlName="category">
                        <label for="title">Категория</label>
                        <div class="invalid-control" *ngIf="submitted && myForm.category.errors?.required">
                            Введите категорию
                        </div>
                    </div>
                </div>
                <div class="" formGroupName="priceGroup">
                    <div class="column-12">
                        <div class="form__group">
                            <input type="number" class="form__input" id="price" formControlName="price">
                            <label for="price">Цена</label>
                            <div class="invalid-control" *ngIf="submitted && this.addForm.get('priceGroup').get('price').hasError('required') && submitted">
                                Введите цену
                            </div>
                        </div>
                    </div>
                    <div class="column-12">
                        <div class="form__group">
                            <input type="number" class="form__input" id="oldPrice" formControlName="oldPrice">
                            <label for="oldPrice">Старая цена</label>

                            <div class="invalid-control" *ngIf="submitted && this.addForm.get('priceGroup').hasError('isMatch') && this.addForm.get('priceGroup').touched">
                                Старая цена не должна совпадать с новой
                            </div>
                        </div>
                    </div>
                    <div class="column-12">
                        <button class="button" type="submit">Сохранить</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
