<div class="section section_small">
  <form [formGroup]="loginForm" class="form" (submit)="onSubmit()">
    <div class="form__group">
      <input type="text" class="form__input form__search" id="login" name="login" formControlName="login" placeholder="Логин"/>
      <label for="login">Логин</label>
      <div class="invalid-control" *ngIf="submitted && myForm.login.errors?.required">
        Введите логин
      </div>
    </div>
    <div class="form__group">
      <input type="password" class="form__input form__search" id="password" name="password" formControlName="password" placeholder="Пароль"/>
      <label for="password">Пароль</label>
      <div class="invalid-control" *ngIf="submitted && myForm.password.errors?.required">
        Введите Пароль
      </div>
    </div>
    <button class="button" type="submit">Ввойти</button>
  </form>
</div>
