<h1>{{this.title}}</h1>
<div class="container">
    <div class="row">
        <div class="column-18">
            <a type="button" class="button" routerLink="/books/add">Добавить новую</a>
        </div>
    </div>
    <div class="row">
        <div class="column-4">
                <select class="form__input form__input_select" (change)="getProductsOnCategory($event)">
                    <option value="default">Категория</option>
                    <option value="Фантастика">Фантастика</option>
                </select>
                <select class="form__input form__input_select" (change)="getProductsOnPrice($event)">
                    <option value="" selected disabled>По цене</option>
                    <option value="asc">По возрастанию</option>
                    <option value="desc">По убыванию</option>
                </select>
        </div>
        <div class="column-14">
            <table class="table">
                <thead>
                <th>ID</th>
                <th>Артикул</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Категория</th>
                <th>Цена</th>
                <th>Старая цена</th>
                <th></th>
                <th></th>
                </thead>
                <tbody>
                <tr *ngFor="let product of products$ | async; let id = index">
                    <td>{{product._id}}</td>
                    <td>{{product.article}}</td>
                    <td>{{product.title}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.old_price}}</td>
                    <td><a (click)="this.navigateEdit(product._id)" class="a-theme">Изменить</a></td>
                    <td><a (click)="this.remove(product._id)" class="a-theme">Удалить</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>