/*Header*/
.header{
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 100%;
  max-height: 8rem;
  &__logo{
    display: flex;
    align-items: center;
    flex: 0 0 24rem;
    padding: 2rem;
  }
}
/*Header*/

/*Navigation*/
.nav{
  flex: 1;
  display: flex;
  align-items: center;
  &__navbar{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    &__item{
      display: flex;
      align-items: center;
      &__search{
        flex: 1;
      }
      &__link{
        padding: 1.4rem;
      }
    }
  }
}
/*Navigation*/


