<header class="header">
  <div class="header__logo">
    <a href="/" class="a-theme_default a-theme-black"><div class="heading-3">BookMag</div></a>
  </div>
  <nav class="nav">
    <ul class="nav__navbar">
      <li class="nav__navbar__item">
        <a class="a-theme nav__navbar__item__link">Книги</a>
      </li>
      <li class="nav__navbar__item">
        <a class="a-theme nav__navbar__item__link">Бестселлеры</a>
      </li>
      <li class="nav__navbar__item">
        <a class="a-theme nav__navbar__item__link">Канцтовары</a>
      </li>
      <li class="nav__navbar__item nav__navbar__item__search">
        <form class="form form__search">
          <input class="input input_default input__search" name="main_search" placeholder="Поиск книг"/>
        </form>
      </li>
      <li class="nav__navbar__item nav__navbar__item">
        <a class="a-theme a-theme nav__navbar__item__link">Профиль</a>
      </li>
      <li class="nav__navbar__item nav__navbar__item">
        <a class="a-theme a-theme nav__navbar__item__link">Корзина</a>
      </li>
    </ul>
  </nav>
</header>
<main>

</main>
<footer></footer>
