<header class="header">
  <div class="header__logo">
    <a href="/" class="a-theme_default a-theme-black"><div class="heading-3">BookMag</div></a>
  </div>
  <nav class="nav">
    <ul class="nav__navbar">
      <li class="nav__navbar__item">
        <a class="a-theme nav__navbar__item__link">Книги</a>
      </li>
      <li class="nav__navbar__item">
        <a class="a-theme nav__navbar__item__link">Бестселлеры</a>
      </li>
      <li class="nav__navbar__item">
        <a class="a-theme nav__navbar__item__link">Канцтовары</a>
      </li>
      <li class="nav__navbar__item nav__navbar__item__search">
          <input class="input input_default input__search" name="main_search" placeholder="Поиск книг"/>
      </li>
      <li class="nav__navbar__item nav__navbar__item">

        <a class="a-theme a-theme nav__navbar__item__link" *ngIf="!authService.logIn"  routerLink="/login">Вход</a>
        <a class="a-theme a-theme nav__navbar__item__link" *ngIf="authService.logIn"  routerLink="/login" (click)="authService.logout()">Выход</a>
        <a class="a-theme a-theme nav__navbar__item__link" *ngIf="authService.logIn" routerLink="/profile">Профиль</a>
      </li>
      <li class="nav__navbar__item nav__navbar__item">
        <a class="a-theme a-theme nav__navbar__item__link">Корзина</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <section class="section">
    <router-outlet></router-outlet>
  </section>
</main>
<footer></footer>
