@container-width: 100%;
@col-gutter: 2rem;
@row-gutter: 1rem;
@counter: 12;
@cols: 12;
@blue: #7FB3D4;
@gray: #767676;
@middle-gray: #c9c9c9;
@green: #8CC079;
@info-green: #719f63;
@info-green-low: #b6f4a2;
@red: #b35d5d;
@low-red: rgba(179, 93, 93, 0.6);
@info-danger: #b35d5d;
@info-danger-low: rgb(243, 150, 150);
@black: #0e0e0e;
@border: 0.2rem;
@border-radius: 0.4rem;
@card-padding: 2rem;
@white: #fff;
