<div *ngIf="this.src" class="notification">
    <ng-container *ngFor="let notification of src.notifications.reverse()">
        <div [@notify]="'show'" class="notification__outer">
            <div class="notification__inner" [ngClass]="{danger: notification.type == 0, complete: notification.type == 1}">
                <button (click)="src.destroy(notification)">
                    <fa-icon [icon]="this.faClose"></fa-icon>
                </button>
                <ng-container [ngSwitch]="notification.type">
                    <ng-container *ngSwitchCase="1">
                        <span class="level" [ngClass]="{'accept-type': notification.type == 1}">
                          <fa-icon [icon]="this.faCheck"></fa-icon>
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="2">
                        <span class="level" [ngClass]="{'fail-type': notification.type == 2}">
                          <fa-icon [icon]="this.faVoid"></fa-icon>
                        </span>
                    </ng-container>
                </ng-container>
                <span>{{notification.message}}</span>
            </div>
        </div>
    </ng-container>
</div>